<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs506.healthily">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthily">
        <activity
            android:name=".view.activities.SignInGoogleFitActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.SignedInActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.SignInActivity"
            android:exported="true"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.Healthily.NoActionBar" />
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>